<section>
    <h1>Franky Sandbox</h1>
    <p>This is my HTML practice area</p>

    <h2>About Me</h2>
    <p>I am learning HTML step by step</p>

    <a href="https://angular.dev" target="_blank">Angular Docs</a>

    <br />
    <br />

    <button>Test Button</button>
</section>
<section>
    <h1>Things I am Practicing</h1>

    <ul>
        <li>HTML structure</li>
        <li>Headings</li>
        <li>Paragraphs</li>
        <li>Links</li>
        <li>Buttons</li>
    </ul>
</section>
<section>
    <h1>Contact Form Practice</h1>

    <label for="name">Name: </label>
    <input id="name" type="text" />

    <br />
    <br />

    <label for="email">Email</label>
    <input id="email" type="email" />

    <br />
    <br />
    <button type="submit">Submit</button>
</section>