<section class="page-section">
    <img [src]="bannerUrl" [alt]="bannerAlt" class="banner-image">

    <div class="page-header">
        <h1>{{ pageTitle }}</h1>
        <p>{{ pageSubTitle }}</p>
        <button (click)="toggleFeatured()">Toggle Featured Project</button>
        <p>Featured Project: {{ selectedProject.title }}</p>
        <p>{{ selectedProject.description }}</p>
        <div class="tech-tags">
            <span *ngFor="let tag of selectedProject.tags">
                {{ tag }}
            </span>
        </div>
        <div class="project-proof">
            {{ selectedProject.proof }}
        </div>
    </div>
    <div>
        <input [(ngModel)]="projectName" placeholder="Enter project name">
        <p>{{ projectName }}</p>
    </div>
    <!-- use ngFor -->
    <div class="projects-grid">
        <div class="project-card" 
             *ngFor="let project of projects" 
             (click)="setSelectedProject(project)"
             [class.feature-selected]="project===selectedProject">
            <h2>{{ project.title }}</h2>
            
            <p class="project-description">
                {{ project.description }}
            </p>

            <div class="tech-tags">
                <span *ngFor="let tag of project.tags">{{ tag }}</span>
            </div>

            <div class="project-proof">
                {{ project.proof }}
            </div>

            <div class="project-links">
                <a [href]="project.github" target="_blank">GitHub</a>
                <a *ngIf="project.caseStudy" [href]="project.caseStudy" target="_blank">Case Study</a>
            </div>
        </div>
    </div>
</section>